body {
background-color:#EEEEEE;
}

.ctn-btn {
	margin-left:10%;
	margin-right:10%;
}

#new-workspace{
	margin-top:40px;
}

.btn-group{
	margin-top:10px;
}


dropdown-menu a{

float:left;
width:10px;

}
i {
float:right;
}

